body {
    background-image: url("../Images/grass.jpg");
    background-size: 100%;
}

#banner {
    font-family: 'Indie Flower', cursive;
    font-size: 140px;
    text-align: center;
    margin-bottom: 40px;
}

.noose {
    max-width: 150px;
}

#resetbtn {
    margin-left: 300px;
}

.startGame {
    text-align: center;
    color: green;
}

#gameBoard {
    background-color: lightblue;
    margin-top: 20px;
    margin-left: 110px;
    /* padding-right: 15px; */
    min-width: 940px;
    /* align-content: center; */
}

#gameBoardPic {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

#blankGuess {
    margin-top: 30px;
    width: 80%;
    height: 100%;
    /* border-style: solid;
    border-width: 5px; */
    font-size: 30px;
}

#wrongGuess {
    margin-top: 5px;
    width: 80%;
    height: 100%;
    /* border-style: solid;
    border-width: 5px; */
    font-size: 30px;
}

#remainingGuesses {
    margin-top: 5px;
    width: 80%;
    height: 100%;
    /* border-style: solid;
    border-width: 5px; */
    font-size: 30px;
}

#scoreBox {
    /* border-style: solid;
    border-width: 5px; */
    font-size: 30px;
}